<div class="container">
  <!-- Registro de Dados -->
  <div class="form-card">
    <h2>Registro de Dados do Aluno</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome" required>
      </div>

      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" formControlName="cpf" (input)="formatarCPF($event)" required>
      </div>

      <div class="form-group">
        <label for="idade">Idade:</label>
        <input type="number" id="idade" formControlName="idade" required>
      </div>

      <div class="form-group">
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" formControlName="matricula" required>
      </div>

      <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" formControlName="cidade" required>
      </div>

      <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" formControlName="estado" required>
          <option value="">Selecione o Estado</option>
          <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
        </select>
      </div>
    </form>
  </div>

  <!-- Registro de Notas -->
  <div class="form-card">
    <h2>Adicione as Notas do Aluno</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="matematica">Matemática:</label>
        <input type="number" id="matematica" formControlName="matematica" required>
      </div>

      <div class="form-group">
        <label for="estruturadedados">Estrutura de Dados:</label>
        <input type="number" id="estruturadedados" formControlName="estruturadedados" required>
      </div>

      <div class="form-group">
        <label for="algoritmos">Algoritmos:</label>
        <input type="number" id="algoritmos" formControlName="algoritmos" required>
      </div>

      <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
    </form>
  </div>
</div>
